p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(207, 255, 207);
}
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: firebrick;
    color:rgb(255, 255, 255);
}
#images {
    padding-left: 80px;
    text-align: center;
}
#buttons {
    align-items: center;
    text-align: center;
    button {
        font-size: 30px;
        height: 60px;
        font-family: 'Courier New', Courier, monospace;
    }
}
#checkbox {
    font-size: large;
    padding-top: 20px;
    text-align: center;
}
#text {
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
}